.header {
  height: 100px;
  position: relative;
  background-color: white;
  .top {
    width: 1020px;
    height: 40px;
    padding: 8px 0 0;
    margin: 0 auto;
    display: flex;
    &__logo {
      display: block;
    }
    &__search {
      position: relative;
      width: calc(100% - 45px);
      margin-left: 45px;
      input {
        position: absolute;
        background: #f5f5f5;
        border-radius: 4px;
        padding: 0 42px 0 10px;
        width: calc(100% - 50px);
        height: 40px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: 0;
        &:focus {
          border: 1px solid #0099e8;
          transition: all ease-out .3s;
        } 
      }
      &--icon {
        position: absolute;
        float: right;
        padding: 0 10px;
        right: 0;
        top: 0;
        background: none;
        border: none;
        height: 40px;
        width: 40px;
        font-size: 15px;
        :hover {
          cursor: pointer;
        }
      }
    }
  }
  .bottom {
    width: 1020px;
    margin: 8px auto 0;
    &__left {
      float: left;
      &__lists {
        padding-right: 11px;
        display: inline;
        &--icon {
          color: #ea352d;
          margin-right: 4px;
        }
        a {
          font-size: 14px;
          color: #333;
          font-weight: bold;
          line-height: 32px;
          display: inline-block;
          position: relative;
          &:hover {
            color: #0099e8;
          }
        }
      }
    }
    &__right {
      float: right;
      &__lists {
        padding-left: 11px;
        display: inline;
        &--icon {
          margin-right: 4px;
          font-size: 20px;
          color: #ccc;
          vertical-align: middle;
        }
        a {
          font-size: 14px;
          font-weight: 400;
          color: #333;
          line-height: 32px;
          display: inline-block;
          position: relative;
          &:hover .bottom__right__lists--icon {
            color: #0099e8;
          }
          &:hover {
            color: #0099e8;
          }
          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 4px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
