// 共通部分

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

body {
  background-color: rgb(245, 245, 245);
}

// マイページの中身記述 nav： メルカリ＞マイページ の部分

.nav {
  position: relative;
  background-color: white;
  border-top: solid 1px #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__lists {
    width: 1020px;
    margin: 0 auto;
    padding: 15px 0;
    &__list {
      font-size: 14px;
      line-height: 1.2;
      display: inline;
      &--mypage {
        font-weight: bold;
      }
      a {
        display: inline-block;
        position: relative;
        color: #333;
      }
      &--icon {
        margin: 0 8px;
        font-size: 9px;
        color: #888;
      }
    }
  }
}

.main {
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;
  &__right {
    float: right;
    width: 700px;
    &__top__content__lists--right {
      display: none;
    }
  }
  &__side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    &__lists {
      position: relative;
      display: block;
      padding: 16px;
      font-size: 14px;
      background-color: white;
      border-top: 1px solid #eee;
      a {
        color: #333;
      }
    }
    h3 {
      margin: 40px 0 0;
      font-size: 16px;
    }
    &__lists--middle {
      padding: 8px 0 0;
    }
  }
}

